# Ignore some folders of AITraffic_Monitoring_Application
/AITraffic_Monitoring_Application/venv/
env/


# Ignore video files in AITraffic_Monitoring_Application
videos/
/**/*.mp4
/**/*.avi
/**/*.mov

# Ignore build output
dist/
build/

# Ignore environment variables
.env

# Ignore IDE specific files
.vscode/
.idea/
